<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary p-3 col-12 position-fixed d-inline">
        <div class="container-fluid ">
            <img title="Animals World" th:href="@{/users/login}" src="https://toppng.com/public/uploads/thumbnail/capricorn-capricorn-black-and-white-11563492688rygjitea4x.png" width="50px" height="50px" alt="" srcset="">
            <a class="navbar-brand ms-1" th:href="@{/user/home}" >Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/user/home}">&hearts;&hearts;&hearts;</a>
                    </li>
                    <li class="nav-item" id="weatherLi">
                        <a class="nav-link active" href="#"><span onclick="hideWeather()">Hide</span>/<span
                                onclick="showWeather()">Show</span><span><strong> Weather</strong></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/user/profile}"><span><strong> My Profile
                                        </strong></span></a>
                    </li>
                    <li class="nav-item" sec:authorize-url="/user/users-control">
                        <a class="nav-link active" th:href="@{/user/users-control}"><span><strong> Users Control</strong></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navBarAdd" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false"><strong>+ Click to Add</strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navBarAdd">
                            <li class="nav-item">
                                <a class="dropdown-item" th:href="@{/user/animal}">+ Animal</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" th:href="@{/user/accessory}">+ Accessory</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" th:href="@{/user/addanimaltore}">+ Animal Store</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/user/animalstores}"><strong> $ Animal Stores
                        </strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">All Rights
                            Reserved &copy;JD</a>
                    </li>
                </ul>
            </div>
            <a th:href="@{/logout}"><button type="button" class="btn text-light btn-danger" data-toggle="tooltip"  title="Please Don't Do it :("><i class="bi bi-x-octagon-fill"></i>        Log Out</button></a>
        </div>
        <div><br></div>
        <div id="weatherWindow" class="container">
            <div class="d-flex text-white">
                <h6 id="currentCity" class="me-5"></h6>
                <h2 class="me-5" id="currentTemp"></h2>
                <h6 id='currentTime' class="me-5 w-25"></h6>
            </div>
        </div>
    </nav>
</header>
</body>
</html>