<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="mainb">
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary p-3 col-12 position-fixed d-inline">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/user/home}" >Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/user/home}">&hearts;&hearts;&hearts;</a>
                        </li>
                        <li class="nav-item" id="weatherLi">
                            <a class="nav-link active" href="#"><span onclick="hideWeather()">Hide</span>/<span
                                    onclick="showWeather()">Show</span><span><strong> Weather</strong></span></a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link active" th:href="@{/user/profile}"><span><strong> My Profile
                                        </strong></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Change Themes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" onclick="changeColorToLigthBlue()">Lightblue</a></li>
                                <li><a class="dropdown-item" onclick="changeColorToLigthGreen()">Lightgreen</a></li>
                                <li><a class="dropdown-item" onclick="changeColorDefault()">Default</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" onclick="changeColorToRed()">Red</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">All Rights
                                Reserved &copy;JD</a>
                        </li>
                    </ul>
                </div>
                <a th:href="@{/logout}"><button type="button" class="btn text-light btn-danger">Log Out</button></a>
            </div>
            <div><br></div>
            <div id="weatherWindow" class="container">
                <div class="d-flex text-white">
                    <h6 id="currentCity" class="me-5"></h6>
                    <h2 class="me-5" id="currentTemp"></h2>
                    <h6 id='currentTime' class="me-5 w-25"></h6>
                </div>
            </div>
        </nav>
    </header>
    <main class="row">
        <div class="d-flex">
            <div class="col-2"></div>
            <form class="col-7" method="POST" enctype="multipart/form-data" th:object="${userAnimalUploadModel}" th:action="@{/user/animal/upload}">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center h2 border-bottom border-danger"><strong>Animal Form</strong></div>
                <ul>
                    
                    <br>
                    <br>
                    <strong><i>Animal Picutre ===> </i></strong><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQammXCjCukt8gI8kn5zPYDB1rAl5nB5HA50w&usqp=CAU"
                    width="100" height="100" class="rounded-circle mb-2" alt="...">
                    <input type="file" accept="image/png, image/jpeg" class="ms-2 mb-4" name="animalPicture" id="animalPicture"/>
                    <br>
                    <div id="addAnimalForm" class="row">
                    
                        <div id="inputInfoAnimal" class="col-8">
                            <div>
                                <strong><i></italic><label>Name:</label></i></strong>
                                <input th:field="*{nameOfAnimal}" th:errorclass="bg-danger" class="form-control animalInputClear border-round" placeholder="Name..." type="text" name="nameOfAnimal" id="nameOfAnimal">
                                <small th:if="${#fields.hasErrors('nameOfAnimal')}" th:errors="*{nameOfAnimal}" class="text-danger">error</small>
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Type:</label></i></strong>
                                <input th:field="*{typeOfAnimal}" th:errorclass="bg-danger" class="form-control animalInputClear" placeholder="Type..." type="text" name="typeOfAnimal" id="typeOfAnimal">
                                <small th:if="${#fields.hasErrors('typeOfAnimal')}" th:errors="*{typeOfAnimal}" class="text-danger">error</small>
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Age:</label></i></strong>
                                <input th:field="*{ageOfAnimal}" th:errorclass="bg-danger" class="form-control animalInputClear g-3" placeholder="Age..." type="text" name="ageOfAnimal" id="ageOfAnimal">
                                <small th:if="${#fields.hasErrors('ageOfAnimal')}" th:errors="*{ageOfAnimal}" class="text-danger">error</small>
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Games:</label></i></strong>
                                <input  class="form-control animalInputClear" placeholder="Games..." type="text" name="gamesOfAnimal" id="gamesOfAnimal">
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Food:</label></i></strong>
                                <input th:field="*{foodOfAnimal}" th:errorclass="bg-danger" class="form-control animalInputClear" placeholder="Food..." type="text" name="foodOfAnimal" id="foodOfAnimal">
                                <small th:if="${#fields.hasErrors('foodOfAnimal')}" th:errors="*{foodOfAnimal}" class="text-danger">error</small>
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Kilograms:</label></i></strong>
                                <input th:field="*{kilogramsOfAnimal}" th:errorclass="bg-danger" class="form-control animalInputClear" placeholder="Kilograms..." type="text" name="kilogramsOfAnimal" id="kilogramsOfAnimal">
                                <small th:if="${#fields.hasErrors('kilogramsOfAnimal')}" th:errors="*{kilogramsOfAnimal}" class="text-danger">error</small>
                            </div>
                            <div class="mt-3">
                                <strong><i><label>Available till:</label></i></strong>
                                <input class="form-control"  type="date" id="available" name="availableTill">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <button type="button" class="btn btn-secondary mt-3" onclick="clearTheForm()" style="float:right">Clear Form</button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-secondary mt-3" style="float:right" >Upload Animal</button>
                        </div>
                    </div>
                </ul>
            </form>
            <div class="col-3"></div>
        </div>

    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" <div>
        <a href="https://www.facebook.com/" class="me-4 text-reset">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://twitter.com" class="me-4 text-reset">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.google.com/" class="me-4 text-reset">
            <i class="bi bi-google"></i>
        </a>
        <a href="https://www.youtube.com/" class="me-4 text-reset">
            <i class="bi bi-youtube"></i>
        </a>
        <a href="https://linkedin.com/" class="me-4 text-reset">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/" class="me-4 text-reset">
            <i class="bi bi-github"></i>
        </a>
    </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Website Purpose
                        </h6>
                        <p>
                            Help people meet their animal friends!
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="https://www.facebook.com/" class="text-reset"><i class="bi bi-facebook"></i>
                                Facebook</a>
                        </p>
                        <p>
                            <a href="https://www.youtube.com/" class="text-reset"><i class="bi bi-youtube"></i>
                                Youtube</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="bi bi-house-fill"></i> Varna, Bulgaria</p>
                        <p>
                            <i class="bi bi-envelope-fill"></i>
                            JD@gmail.com
                        </p>
                        <p><i class="bi bi-telephone-forward-fill"></i> + 359(0) 085589985</p>
                        <p><i class="bi bi-telephone-forward-fill"></i></i> + 359(0) 094112400</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="/login">JD</a>
        </div>
    </footer>
</div>
</body>
<script>
    window.onload = function () {
        checkAcceptLocation()
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);

    }

    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    };
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    };
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if (minutes < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if (minutes < 10) {
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if (seconds < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat, lng);
        const api = "42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp;
                var currentSit = response.weather[0].main;
                var currentSpeed = response.wind.speed;
                var currentHumidity = response.main.humidity;
                var currentImage = response.weather[0].icon;
                document.getElementById('currentCity').innerText = city + ', ' + country;
                document.getElementById('currentTemp').innerText = Math.round(currentTemp - 273.15, 2) + '°C';
                document.getElementById('currentSit').innerText = currentSit;
                document.getElementById('currentSpeed').innerText = currentSpeed + 'm/s';
                document.getElementById('currentHumidity').innerText = currentHumidity + '%';
                document.getElementById('currentImage').src = `http://openweathermap.org/img/w/${currentImage}.png`;
                return;
            }
        }
    }

    function checkAcceptLocation(lat, lng) {
        if (lat != undefined && lng != undefined) {

            document.getElementById('weatherLi').style.display = "block";
            document.getElementById('weatherWindow').style.display = 'block';

        } else {

            document.getElementById('weatherLi').style.display = "none";
            document.getElementById('weatherWindow').style.display = 'none';
        }
    }


</script>
<script>
    function makeChanges() {
        var inputsUpdate = document.getElementsByClassName('profilInput');
        var inputsInfo = document.getElementsByClassName('profileInfo');
        for (let i = 0; i < inputsUpdate.length; i++) {
            var currInfo = inputsInfo[i].textContent;
            if (i == 3) {
                inputsUpdate[i].setAttribute('value', Number.parseInt(currInfo));
                inputsUpdate[i].style.display = 'block';
            } else {
                inputsUpdate[i].setAttribute('value', currInfo);
                inputsUpdate[i].style.display = 'block';
            }
        }
        for (let i = 0; i < inputsInfo.length; i++) {
            inputsInfo[i].style.display = 'none';
        }
    }
    // clear the form for upload
    function clearTheForm(){
        var inputInfoAnimalClear=document.getElementById('inputInfoAnimal');
        var elements=inputInfoAnimalClear.getElementsByTagName('input')
        for(let i=0;i < elements.length; i++){
            elements[i].value='';
            
        }

    }

    //changing theme color
    var themeF=['bg-secondary','btn-danger','btn-secondary','btn-secondary'];
    var themeS=['bg-primary','btn-warning','btn-primary','btn-primary'];
    var themeT=['bg-success','btn-danger','btn-success','btn-success'];
    var themeD=['bg-danger','btn-success','btn-danger','btn-danger'];
    var navigationBar=document.getElementsByTagName('nav')[0];
    var logoutB=navigationBar.getElementsByTagName('button')[1];
    var clearB=document.getElementsByTagName('form')[0].getElementsByTagName('button')[0];
    var uploadB=document.getElementsByTagName('form')[0].getElementsByTagName('button')[1];
    var elements=[navigationBar,logoutB,clearB,uploadB];

   
    function changeColorToLigthBlue(){
        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeF[index],themeS[index]);
            }
        }
        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeT[index],themeS[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeD[index],themeS[index]);
            }
        }
    }
    
    function changeColorToLigthGreen(){
        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeF[index],themeT[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeS[index],themeT[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeD[index],themeT[index]);
            }
        }
    }

    function changeColorDefault(){
        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeT[index],themeF[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeS[index],themeF[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeD[index],themeF[index]);
            }
        }
    }
    function changeColorToRed(){
        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeT[index],themeD[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeS[index],themeD[index]);
            }
        }
        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {
                
                elements[index].classList.replace(themeF[index],themeD[index]);
            }
        }
    }

</script>
<style>
    .mainb {
        max-width: 1800px;
        margin: auto;
    }

    .wrapper {
        background-color: rgba(255, 234, 234, 0.4);
    }


    .animalsGroup h1 {
        margin-top: 3%;
        padding-top: 4%;

    }

    .navbar {
        z-index: 1;
    }

    .staticnav li {
        border-left: 5px solid rgba(255, 199, 199, 0);
    }

    .staticnav a {
        padding-left: 5px;
    }


    .navbar {
        max-width: 1800px;
        margin: auto;
    }

    @media only screen and (max-width: 400px) {
        #addAnimalForm{
            display: inline;
        }
        #inputInfoAnimal{
            width: 100%;    
        }

    }

    .text-muted {
        color: white;
    }

    footer {
        margin-top: 50px;
    }


    .profilInput {
        display: none;
    }

    .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 10px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 20px;
    width: 100%;  
}
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


</html>
