<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/commons::head"></head>


<body class="mainb">
<div class="wrapper">
    <header th:replace="fragments/commons::header"></header>

    <main>
        <img src="https://jdanimalsworld.s3.eu-central-1.amazonaws.com/fox-deer-animal-seamless-pattern-watercolor-image-hand-drawn-wild-forest-animals-herbs-fern-mushrooms-fabric-paper-tixtile-226004569.jpg" class="backImage"/>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="sign in col-5">
                <div class="ms-5 mb-2">
                            <div class="col dropdown center">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Filter by Animal's type
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/user/animalencyclopedia}">Show All</a>
                                    </li>
                                    <li th:each="s: ${T(jdanimal.demo.data.enums.AnimalType).values()}" th:object="${s}">
                                        <a class="dropdown-item" th:href="@{/animal/filter/{name}(name=${s.name()})}" th:text="*{name()}">Animals</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
        <img width="30%" height="50%" class="ms-5" src="https://jdanimalsworld.s3.eu-central-1.amazonaws.com/tanks-encyclopedia-logo.png" alt="" srcset="">
        <div class="animalsGroup" th:each="a : ${animals}" th:object="${a}">
            <div>
                <h1 id="Dog" th:text="*{typeOfAnimal}">Dog</h1>
                <img class="rounded-circle"
                    th:src="*{animalPhotoUrl}"
                     width="150" height="150" alt="...">
                <label  class="form-label h4" th:text="*{description}">Animal Info."</label>
                <a th:unless="${hide == true}" th:href="@{/encyclopedia/animal/delete/{id}(id=${a.getId()})}" class="btn btn-danger ms-2">Delete<i class="fas fa-user-times ml-2"></i></a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);
        checkAcceptLocation()
        createMenu();
        clicked();

    }


    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    }
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    }
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if(minutes <10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if(minutes<10){
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if(seconds<10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        }else{
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat,lng);
        const api="42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp;

                document.getElementById('currentCity').innerText=city+', '+country;
                document.getElementById('currentTemp').innerText=Math.round(currentTemp-273.15,2)+'°C';
                return;
            }
        }
    }

    function checkAcceptLocation(lat,lng){
        if(lat!=undefined && lng!=undefined){
            document.getElementById('weatherLi').style.display="block";
            showWeather()
        }else{
            document.getElementById('weatherLi').style.display="none";
            hideWeather()
        }
    }


</script>
<style>
    body{
        max-width: 1800px;
        margin: auto;
    }

    .backImage{
        max-width: 1800px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -2;
        position: fixed;
    }

    .dropdown-menu {
        max-height:200px;
        overflow:scroll;
    }

    .navbar{
        max-width: 1800px;
        margin: auto;
        z-index: 4;
        background-color: rgba(31,90,120,0.9);

    }

    .animalsGroup h1{
        margin-top: 3%;
        padding-top: 4%;

    }

    @media only screen and (max-width: 1300px) {
        .navigator{
            display: none;
        }
    }

    footer {
        margin-top: 50px;
        background-color: rgba(31,90,120,0.9);

    }

    .animalsGroup{
        margin-left: 5%;
        margin-right: 30%;
        margin-top: 5%;
    }

    /* //weather */

    #weatherWindow{
        display: none;
        z-index: -1;
    }


    /* Homepage */
    @media only screen and (max-width: 700px) {
        .row >.inlineForms{
            display: inline !important;
        }
    }

</style>

</html>
