<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">



<head th:replace="fragments/commons::head"></head>


<body class="mainb">
<div class="wrapper">
    <header th:replace="fragments/commons::header"></header>
    <main>
        <img src="https://jdanimalsworld.s3.eu-central-1.amazonaws.com/fox-deer-animal-seamless-pattern-watercolor-image-hand-drawn-wild-forest-animals-herbs-fern-mushrooms-fabric-paper-tixtile-226004569.jpg" class="backImage"/>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col dropdown center mb-5 ms-5">
                <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Animal/Accessory
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" th:href="@{/user/filterby/animals}">Animals</a></li>
                    <li><a class="dropdown-item" th:href="@{/user/filterby/accessories}">Accessories</a></li>
                    <li><a class="dropdown-item" th:href="@{/user/home}">Show all</a></li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-4 card m-5" style="width: 18rem;" th:each="animal : ${animals}" th:object="${animal}">
                <a th:href="@{/user/animal/like/{id}(id=${animal.getId()})}" class="btn btn-info position-absolute top-0 end-0">Like<i class="fas fa-user-times ml-2"></i></a>
                <img width="40%" height="40%" class="rounded-circle mt-5 me-3" th:src="${(animal.getUrlAnimalPhoto() != null && !#strings.isEmpty(animal.getUrlAnimalPhoto())) ? animal.getUrlAnimalPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${animal.getUser().getUsername()}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${animal.getNameOfAnimal()}"></h5>
                    <p class="card-text" th:text="${animal.getDescription()}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light" th:text="|Animal Type: *{typeOfAnimal}|"></li>
                    <li class="list-group-item" th:text="|Age: *{ageOfAnimal}|"></li>
                    <li class="list-group-item bg-light" th:text="|Favourite Food: *{foodOfAnimal}|"></li>
                    <li class="list-group-item" th:text="|The Lovely Games: *{gamesOfAnimal}|"></li>
                    <li class="list-group-item bg-light" th:text="|The Weight: *{ageOfAnimal}|"></li>
                </ul>
                <div class="card-body">
                    <div class="ms-2 me-1">
                        <p>
                            <button class="btn btn-primary mt-5" type="button" data-bs-toggle="collapse" data-bs-target=".homeDetails" aria-expanded="false" aria-controls="ownerDetails">
                                Owner Details:
                            </button>
                        </p>
                    </div>
                    <div class="homeDetails collapse col-12 mt-5" id="ownerDetails">
                        <img width="25%" height="25%" class="rounded-circle mb-1" th:src="${(animal.getUser().getUrlProfilePicture() != null && !#strings.isEmpty(animal.getUser().getUrlProfilePicture())) ? animal.getUser().getUrlProfilePicture() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${animal.getUser().getUsername()}"/>
                        <div class="card card-body bg-light" th:text="|Owner: ${animal.getUser().getFullName()}|">Owner: Yordan Nikolov Zhendov</div>
                        <div class="card card-body" th:text="|PhoneNumber: ${animal.getUser().getPhoneNumber()}|">PhoneNumber: 089585594</div>
                        <div class="card card-body bg-light" th:text="|Email: ${animal.getUser().getEmail()}|">Email: jordna.zhendov@abv.bg</div>
                    </div>
                </div>
            </div>
            <div class="col-4 card m-5" style="width: 18rem;" th:each="accessory : ${accessories}" th:object="${accessory}">
                <a th:href="@{/user/accessory/like/{id}(id=${accessory.getId()})}" class="btn btn-info position-absolute top-0 end-0">Like<i class="fas fa-user-times ml-2"></i></a>
                <img width="40%" height="40%" class="rounded-circle mt-5 me-3" th:src="${(accessory.getUrlAccessoryPhoto() != null && !#strings.isEmpty(accessory.getUrlAccessoryPhoto())) ? accessory.getUrlAccessoryPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${accessory.getUser().getUsername()}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${accessory.getAccessoryName()}"></h5>
                    <p class="card-text" th:text="${accessory.getDescription()}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light" th:text="|Days used: ${accessory.getDaysUsed()}|"></li>
                    <li class="list-group-item " th:text="|Price: ${accessory.getAccessoryPrice()}|"></li>
                    <li class="list-group-item bg-light" >---------</li>
                    <li class="list-group-item" >---------</li>
                    <li class="list-group-item bg-light">---------</li>
                </ul>
                <div class="card-body">
                    <div class="ms-2 me-1">
                        <p>
                            <button class="btn btn-primary mt-5" type="button" data-bs-toggle="collapse" data-bs-target=".homeDetails" aria-expanded="false" aria-controls="ownerAccDetails">
                                Owner Details:
                            </button>
                        </p>
                    </div>
                    <div class="homeDetails collapse col-12 mt-5" id="ownerAccDetails" th:each="accessory : ${accessories}" th:object="${accessory}" >
                        <img width="25%" height="25%" class="rounded-circle mb-1" th:src="${(accessory.getUser().getUrlProfilePicture() != null && !#strings.isEmpty(accessory.getUser().getUrlProfilePicture())) ? accessory.getUser().getUrlProfilePicture() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${accessory.getUser().getUsername()}"/>
                        <div class="card card-body bg-light" th:text="|Owner: ${accessory.getUser().getFullName()}|">Owner: Yordan Nikolov Zhendov</div>
                        <div class="card card-body" th:text="|PhoneNumber: ${accessory.getUser().getPhoneNumber()}|">PhoneNumber: 089585594</div>
                        <div class="card card-body bg-light" th:text="|Email: ${accessory.getUser().getEmail()}|">Email: jordna.zhendov@abv.bg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col ms-5 mt-5">
                <p><strong>🐶 Animals Asked People for Help</strong></p>
                <iframe width="300" height="100" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
            <div class="col ms-5 mt-5">
                <p><strong>🐶 Animals Saved Human Lives</strong></p>
                <iframe width="300" height="100" src="https://www.youtube.com/embed/yPmrvmPWePE">
                </iframe>
            </div>
            <div class="col ms-5 mt-5">
                <p><strong>🐶 LAUGH with Dog's life</strong></p>
                <iframe width="300" height="100" src="https://www.youtube.com/embed/1HygThMLzGs">
                </iframe>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>

<script>
    window.onload = function () {
        checkAcceptLocation()
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);
    }


    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    };
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    };
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if (minutes < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if (minutes < 10) {
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if (seconds < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat, lng);
        const api = "42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp;
                document.getElementById('currentCity').innerText = city + ', ' + country;
                document.getElementById('currentTemp').innerText = Math.round(currentTemp - 273.15, 2) + '°C';
                return;
            }
        }
    }

    function checkAcceptLocation(lat, lng) {
        if (lat != undefined && lng != undefined) {

            document.getElementById('weatherLi').style.display = "block";
            document.getElementById('weatherWindow').style.display = 'block';

        } else {

            document.getElementById('weatherLi').style.display = "none";
            document.getElementById('weatherWindow').style.display = 'none';
        }
    }


</script>
<script>
    function makeChanges() {
        var inputsUpdate = document.getElementsByClassName('profilInput');
        var inputsInfo = document.getElementsByClassName('profileInfo');
        for (let i = 0; i < inputsUpdate.length; i++) {
            var currInfo = inputsInfo[i].textContent;
            if (i == 3) {
                inputsUpdate[i].setAttribute('value', Number.parseInt(currInfo));
                inputsUpdate[i].style.display = 'block';
            } else {
                inputsUpdate[i].setAttribute('value', currInfo);
                inputsUpdate[i].style.display = 'block';
            }
        }
        for (let i = 0; i < inputsInfo.length; i++) {
            inputsInfo[i].style.display = 'none';
        }
    }
    // clear the form for upload
    function clearTheForm(){
        var inputInfoAnimalClear=document.getElementById('inputInfoAnimal');
        var elements=inputInfoAnimalClear.getElementsByTagName('input')
        for(let i=0;i < elements.length; i++){
            elements[i].value='';

        }

    }


    //tooltip
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<style>
    .mainb {
        max-width: 1800px;
        margin: auto;
    }
    .navbar{
        background-color: rgba(31,90,120,0.9);
        max-width: 1800px;
        margin: auto;
        z-index: 1;
    }

    .backImage{
        max-width: 1800px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -2;
        position: fixed;
    }


    @media only screen and (max-width: 400px) {
        #addAnimalForm{
            display: inline;
        }
        #inputInfoAnimal{
            width: 100%;
        }

    }
    @media only screen and (max-width: 400px) {
        footer{
            width: 500px;
        }
    }


    footer {
        margin-top: 50px;
        background-color: rgba(31,90,120,0.9);

    }

    .profilInput {
        display: none;
    }

    .card {
        width: 100%;
        height: 75%;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 4px #1f5a78e6;
        margin-top: 50px;
        margin-bottom: 50px
    }

    iframe{
        border-radius: 20px;
        box-shadow: 0px 8px 16px 4px #1f5a78e6;
    }

</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>



</html>
