<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>
<body class="mainb">
<div class="wrapper">
    <header th:replace="fragments/commons::header"></header>
    <main class="row" id="main">
        <div class="d-inline">
            <img src="https://jdanimalsworld.s3.eu-central-1.amazonaws.com/fox-deer-animal-seamless-pattern-watercolor-image-hand-drawn-wild-forest-animals-herbs-fern-mushrooms-fabric-paper-tixtile-226004569.jpg" class="backImage"/>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form class="col-10 ms-5 mt-5 me-5" action="/user/foto/upload" method="POST" enctype="multipart/form-data">
                <div class="text-center h2 border-bottom border-danger"><strong>Profile</strong></div>
                <img width="100" height="100" class="rounded-circle mb-2" th:src="${(userProfileInfo.getUrlProfilePicture() != null && !#strings.isEmpty(userProfileInfo.getUrlProfilePicture())) ? userProfileInfo.getUrlProfilePicture() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${userProfileInfo.getUsername()}"/>
                <input type="file" accept=".jpg, .png, .jpeg"  class="col-2 form-control" id="file"  name="file"/>
                <button id="uploadProfilePicture" type="submit" class="btn btn-secondary mt-2">Upload</button>
            </form>
            <form class="col-10 ms-5 mt-5 me-5" action="/user/update-profile" method="POST">
                <div class="shadow p-3 mb-5 bg-body rounded">
                        <div class="col-7">
                            <label class="form-label"><strong>Username :</strong></label>
                            <label type="text" th:text="${userProfileInfo.getUsername()}" id="username" name="username"></label>

                        </div>
                        <div class="col-7 mt-2">
                            <label class="form-label"><strong>Full name :</strong></label>
                            <label class="profileInfo" th:text="${userProfileInfo.getFullName()}"></label>
                            <input type="text" class="profilInput form-control " value="" placeholder="Full name" id="fullName" name="fullName">
                        </div>
                        <div class="col-7 mt-2">
                            <label class="form-label"><strong>Email :</strong></label>
                            <label class="profileInfo" th:text="${userProfileInfo.getEmail()}"></label>
                            <input type="email" class="profilInput form-control" value="" placeholder="Email" id="email" name="email">
                        </div>
                        <div class="col-7 mt-2">
                            <label class="form-label"><strong>Phone :</strong></label>
                            <label class="profileInfo" th:text="${userProfileInfo.getPhoneNumber()}"></label>
                            <input type="text" class="profilInput form-control" value="" placeholder="Phone" id="phoneNumber" name="phoneNumber">
                        </div>
                        <div class="col-7 mt-2">
                            <label name="cityUpdateForm" class="form-label" ><strong>City: </strong></label>
                            <label class="form-label" th:text="${userProfileInfo.getCity()}"><strong>City :</strong></label>
                        </div>
                        <div class="col-7 mt-2">
                            <label name="cityUpdateForm" class="form-label" ><strong>Country: </strong></label>
                            <label  class="form-label" th:text="${userProfileInfo.getCountry()}"><strong>Countries :</strong></label>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 mt-1">
                                <button onclick="makeChanges()" type="button" class="btn btn-secondary">Make Changes</button>
                            </div>
                            <div class=" col-md-9 mt-1">
                                <button type="submit" class="btn btn-secondary">Save Changes</button>
                            </div>
                        </div>
                </div>

            </form>
        <div class="inlineForms row">
            <div class="col ms-5 mt-2 me-5 text-center">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#myStores" aria-expanded="false" aria-controls="myStores">
                    <strong class="fs-3 mb-2">My Stores</strong>
                </button>
                <div id="myStores">
                    <div th:each="store : ${allStoresByUser}">
                        <strong><p th:text="${store.getName()}"></p></strong>
                        <a th:href="@{/user/store/delete/{id}(id=${store.getId()})}" class="btn btn-danger ms-2">Delete<i class="fas fa-user-times ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col ms-5 mt-2 me-5 text-center">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#myAnimalsList" aria-expanded="false" aria-controls="myAnimalsList">
                    <strong class="fs-3 mb-2">My
                        Animals</strong>
                </button>
                <div id="myAnimalsList">
                    <div>
                        <div th:each="animal : ${userAnimal}" th:object="${animal}">
                            <strong><p th:text="${animal.getNameOfAnimal()}"></p></strong>
                            <img width="100" height="100" class="rounded-circle mb-2" th:src="${(animal.getUrlAnimalPhoto() != null && !#strings.isEmpty(animal.getUrlAnimalPhoto())) ? animal.getUrlAnimalPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${animal.getUser().getUsername()}"/>
                            <form th:action="@{/user/animal/uploadPhoto/{id}(id=${animal.getId()})}" method="POST" enctype="multipart/form-data">
                                <input type="file" accept=".jpg, .png, .jpeg" name="fileAnimal" class="fileAnimal ms-2"/>
                                <button type="submit" class="btn ms-2 mb-2 mt-2 btn-primary">Upload</button>
                                <a th:href="@{/user/animal/delete/{id}(id=${animal.getId()})}" class="btn ms-2 btn-danger">Delete<i class="fas fa-user-times ml-2"></i></a>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col ms-5 mt-2 me-5 text-center">
                <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#myLikedAnimals" aria-expanded="false" aria-controls="myLikedAnimals">
                    <strong class="fs-3 mb-2">Liked Animals</strong>
                </button>
                <div id="myLikedAnimals">
                    <div th:each="likedAnimal : ${likedAnimals}">
                        <strong><p th:text="${likedAnimal.getNameOfAnimal()}"></p></strong>
                        <img width="100" height="100" class="rounded-circle mb-2" th:src="${(likedAnimal.getUrlAnimalPhoto() != null && !#strings.isEmpty(likedAnimal.getUrlAnimalPhoto())) ? likedAnimal.getUrlAnimalPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${likedAnimal.getUser().getUsername()}"/>
                        <a th:href="@{/user/animal/dislike/{id}(id=${likedAnimal.getId()})}" class="btn btn-outline-danger ms-2">Dislike<i class="fas fa-user-times ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col ms-5 mt-2 me-5 text-center">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#myAccessoriesList" aria-expanded="false" aria-controls="myAccessoriesList">
                    <strong class="fs-3 mb-2">My
                        Accessories</strong>
                </button>
                <div id="myAccessoriesList">
                    <div>
                        <div th:each="accessory : ${allAccessoriesByUser}" th:object="${accessory}">
                            <strong><p th:text="${accessory.getAccessoryName()}"></p></strong>
                            <img width="100" height="100" class="rounded-circle mb-2" th:src="${(accessory.getUrlAccessoryPhoto() != null && !#strings.isEmpty(accessory.getUrlAccessoryPhoto())) ? accessory.getUrlAccessoryPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${accessory.getUser().getUsername()}"/>
                            <form th:action="@{/user/accessory/uploadPhoto/{id}(id=${accessory.getId()})}" method="POST" enctype="multipart/form-data">
                                <input type="file" accept=".jpg, .png, .jpeg" name="fileAccessory" class="fileAccessory ms-2"/>
                                <button type="submit" class="btn ms-2 mb-2 mt-2 btn-primary">Upload</button>
                                <a th:href="@{/user/accessory/delete/{id}(id=${accessory.getId()})}" class="btn ms-2 btn-danger">Delete<i class="fas fa-user-times ml-2"></i></a>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col ms-5 mt-2 me-5 text-center">
                <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#myLikedAccessories" aria-expanded="false" aria-controls="myLikedAccessories">
                    <strong class="fs-3 mb-2">Liked Accessories</strong>
                </button>
                <div id="myLikedAccessories">
                    <div th:each="accessory : ${likedAccessories}">
                        <strong><p th:text="${accessory.getAccessoryName()}"></p></strong>
                        <img width="100" height="100" class="rounded-circle mb-2" th:src="${(accessory.getUrlAccessoryPhoto() != null && !#strings.isEmpty(accessory.getUrlAccessoryPhoto())) ? accessory.getUrlAccessoryPhoto() : 'https://jdanimalsworld.s3.eu-central-1.amazonaws.com/imageNotAvailable.png'}" th:alt="${accessory.getUser().getUsername()}"/>
                        <a th:href="@{/user/accessory/dislike/{id}(id=${accessory.getId()})}" class="btn btn-outline-danger ms-2">Dislike<i class="fas fa-user-times ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>

<script>
    window.onload = function () {
        checkAcceptLocation()
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);

    }


    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    };
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    };
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if(minutes <10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if(minutes<10){
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if(seconds<10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        }else{
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat,lng);
        const api="42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp
                document.getElementById('currentCity').innerText=city+', '+country;
                document.getElementById('currentTemp').innerText=Math.round(currentTemp-273.15,2)+'°C';
                 return;
            }
        }
    }

    function checkAcceptLocation(lat,lng){
        if(lat!=undefined && lng!=undefined){

            document.getElementById('weatherLi').style.display="block";
            document.getElementById('weatherWindow').style.display = 'block';

        }else{

            document.getElementById('weatherLi').style.display="none";
            document.getElementById('weatherWindow').style.display = 'none';
        }
    }


</script>
<script>
    function makeChanges() {
        var inputsUpdate = document.getElementsByClassName('profilInput');
        var inputsInfo = document.getElementsByClassName('profileInfo');
        for (let i = 0; i < inputsUpdate.length; i++) {
            var currInfo = inputsInfo[i].textContent;
            if (i == 3) {
                inputsUpdate[i].setAttribute('value', Number.parseInt(currInfo));
                inputsUpdate[i].style.display = 'block';
            }else{
                inputsUpdate[i].setAttribute('value', currInfo);
                inputsUpdate[i].style.display = 'block';
            }
        }
        for (let i = 0; i < inputsInfo.length; i++) {
            inputsInfo[i].style.display = 'none';
        }
    }


      //tooltip
       $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
    });

    //FileSizeChecker
    $('#file').bind('change', function() {
        if (this.files[0].size/1024/1024 > 1){
            alert('The File should not exceed 1MB');
            $('#file').val('');
        }
    });
    $('.fileAnimal').bind('change', function() {
        if (this.files[0].size/1024/1024 > 1){
            alert('The File should not exceed 1MB');
            $('.fileAnimal').val('');
        }
    });
    $('.fileAccessory').bind('change', function() {
        if (this.files[0].size/1024/1024 > 1){
            alert('The File should not exceed 1MB');
            $('.fileAnimal').val('');
        }
    });

</script>
<style>

    .mainb{
        max-width: 1800px;
        margin: auto;
    }

    .backImage{
        max-width: 1800px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -2;
        position: fixed;
    }


    .animalsGroup h1{
        margin-top: 3%;
        padding-top: 4%;

    }
    .navbar{
        z-index: 1;
        background-color: rgba(31,90,120,0.9);

    }

    footer {
        margin-top: 50px;
        background-color: rgba(31,90,120,0.9);

    }

    .staticnav li{
        border-left: 5px solid rgba(255, 199, 199,0);
    }
    .staticnav a{
        padding-left: 5px;
    }
    .navigator{
        margin-top: 10%;
    }

    .navbar{
        max-width: 1800px;
        margin: auto;
    }

    @media only screen and (max-width: 1300px) {
        .navigator{
            display: none;
        }
    }

    .text-muted{
        color: white;
    }

    .animalsGroup{
        margin-left: 5%;
        margin-right: 30%;
        margin-top: 5%;
    }


    .card {
        width: 100%;
        height: 75%;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 4px #ffe9e9;
        margin-top: 50px;
        margin-bottom: 50px
    }

    .time-font {
        font-size: 50px;
    }

    .sm-font {
        font-size: 18px
    }

    .med-font {
        font-size: 28px
    }

    .large-font {
        font-size: 60px
    }

    /* Homepage */
    @media only screen and (max-width: 700px) {
        .row >.inlineForms{
            display: inline !important;
        }
        .inlineForms{
            display: inline !important;
        }
    }

    @media only screen and (max-width: 500px) {
        footer{
            width: 550px;
        }
    }
    @media only screen and (max-width: 450px) {
        footer{
            width: 500px;
        }
    }
    @media only screen and (max-width: 350px) {
        footer{
            width: 400px;
        }
    }

    .profilInput {
        display: none;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


</html>
