<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/commons::head"></head>


<body class="mainb">
<div class="wrapper">
    <header th:replace="fragments/commonsLogReg::header"></header>
    <main>
        <div class="row">
            <div class="register col-9">
                <form class="row g-3 border-top border-primary border-1" th:object="${userRegistrationBinding}" th:action="@{/users/register}" method="post">
                    <h3 th:if="${isFound == false}" class="mt-5 text-center">
                    <strong class="bg-blur rounded text-danger">
                        User with such username or email already exists.
                    </strong>
                    </h3>
                    <div class="col-md-12 h4 text-center"><img class="ms-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4egqR9lKCqkPdZahfJ3RVyaGtw6qkkUIzikDD2vulqATGhrkOzH0qARjIaLV_BaAtu5M&usqp=CAU" alt="" srcset=""><strong>REGISTER</strong></div>
                    <div class="col-md-12">
                        <label class="form-label">Username</label>
                        <input th:field="*{username}" th:errorclass="bg-warning" type="text" class="form-control" placeholder="Username" name="username" id="username">
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">error</small>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Full name</label>
                        <input type="name" class="form-control" placeholder="Full name" name="fullName" id="fullname">
                    </div>
                    <div class="col-md-6">
                        <label  class="form-label">Password</label>
                        <input th:field="*{password}" th:errorclass="bg-warning" type="password" class="form-control" placeholder="Password" name="password" id="password">
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">error</small>
                    </div><div class="col-md-6">
                        <label  class="form-label">Confirm Password</label>
                        <input th:field="*{confirmPassword}" th:errorclass="bg-warning" type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
                        <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger">error</small>
                </div>
                    <div class="col-md-12">
                        <label class="form-label">Email</label>
                        <input th:field="*{email}" th:errorclass="bg-warning" type="email" class="form-control" placeholder="Email" name="email" id="email">
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">error</small>
                    </div>
                    <div class="col-md-12">
                        <label  class="form-label">Phone Number</label>
                        <input th:field="*{phoneNumber}" th:errorclass="bg-warning" type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" id="phonenumber">
                        <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">error</small>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Countries</label>
                        <select id="inputState" name="country" class="form-select">
                            <option selected>Choose...</option>
                            <option>Bulgaria</option>
                            <option>Germany</option>
                            <option>Russia</option>
                            <option>France</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">City</label>
                        <select id="df" name="city" class="form-select">
                            <option selected>Choose...</option>
                            <option>Dobrich</option>
                            <option>Silistra</option>
                            <option>Varna</option>
                            <option>Sofia</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Postcode</label>
                        <input th:field="*{postcode}" th:errorclass="bg-warning" type="text" class="form-control" placeholder="Postcode" name="postcode" id="inputZip">
                        <small th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}" class="text-danger">error</small>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="policyAgree" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Agreed with the policy of the website !
                            </label>
                            <small th:if="${#fields.hasErrors('policyAgree')}" th:errors="*{policyAgree}" class="text-danger">error</small>
                        </div>
                    </div>
                    <div class="col-4">
                        <a th:href="@{/users/login}" ><button type="button" class="btn btn-danger" ><i class="bi bi-box-arrow-left"></i>  Login</button></a>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-success"><i class="bi bi-person-check-fill"></i>  Register</button>
                    </div>
                </form>
            </div>
            <div class="navigator col-1 ms-5">
                <img class="animalBar" src="https://jdanimalsworld.s3.eu-central-1.amazonaws.com/animalbar.jpg" alt="" srcset="">
            </div>
        </div>

        <div id="weatherWindow" class="container-fluid position-relative">
            <div class="row justify-content-right mt-5">
                <div class="col-12 col-md-4 col-sm-12 col-xs-12">
                    <div class="card p-4">
                        <div class="d-flex">
                            <h6 id="currentCity" class="flex-grow-1"></h6>
                            <h6 id='currentTime'></h6>
                        </div>
                        <div class="d-flex flex-column temp mt-5 mb-3">
                            <h2 class="mb-0 font-weight-bold" id="currentTemp"></h2> <span id="currentSit"
                                                                                           class="small grey"></span>
                        </div>
                        <div class="d-flex">
                            <div class="temp-details flex-grow-1">
                                <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span
                                        id="currentSpeed"></span> </p>
                                <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span
                                        id="currentHumidity"></span> </p>
                            </div>
                            <div> <img src="" width="100%" id="currentImage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer th:replace="fragments/commons::footer"></footer>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);
        checkAcceptLocation()
        focusIndexPageReg();
        createMenu();
        window.onscroll = function () { myFunction() };
        clicked();

    }

    function focusIndexPageReg() {
        document.getElementById('username').focus({ preventScroll: false });
    }
    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    }
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    }
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if(minutes <10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if(minutes<10){
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if(seconds<10){
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if(hours<10){
                    document.getElementById('currentTime').innerText = '0'+ hours + ':0' + minutes + ':' + seconds;
                }
            }
        }else{
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat,lng);
        const api="42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp;
                var currentSit = response.weather[0].main;
                var currentSpeed = response.wind.speed;
                var currentHumidity = response.main.humidity;
                var currentImage = response.weather[0].icon;
                document.getElementById('currentCity').innerText=city+', '+country;
                document.getElementById('currentTemp').innerText=Math.round(currentTemp-273.15,2)+'°C';
                document.getElementById('currentSit').innerText=currentSit;
                document.getElementById('currentSpeed').innerText=currentSpeed+'m/s';
                document.getElementById('currentHumidity').innerText=currentHumidity+'%';
                document.getElementById('currentImage').src=`http://openweathermap.org/img/w/${currentImage}.png`;
                return;
            }
        }
    }

    function checkAcceptLocation(lat,lng){
        if(lat!=undefined && lng!=undefined){
            document.getElementById('weatherLi').style.display="block";
            showWeather()
        }else{
            document.getElementById('weatherLi').style.display="none";
            hideWeather()
        }
    }


    function makeChanges() {
        var inputsUpdate = document.getElementsByClassName('profilInput');
        var inputsInfo = document.getElementsByClassName('profileInfo');
        for (let i = 0; i < inputsUpdate.length; i++) {
            var currInfo = inputsInfo[i].textContent;
            if (i == 3) {
                inputsUpdate[i].setAttribute('value', Number.parseInt(currInfo));
                inputsUpdate[i].style.display = 'block';
            }else{
                inputsUpdate[i].setAttribute('value', currInfo);
                inputsUpdate[i].style.display = 'block';
            }
        }
        for (let i = 0; i < inputsInfo.length; i++) {
            inputsInfo[i].style.display = 'none';
        }
    }
</script>
<style>
    body{
        max-width: 1800px;
        margin: auto;
    }
    .animalBar{
        margin-left: 50px;
    }

    .toast:not(.showing):not(.show){
        opacity: 1;
    }
    .sign{
        margin-top: 130px;
        margin-left: 30px;

    }

    .animalsGroup h1{
        margin-top: 3%;
        padding-top: 4%;

    }
    .staticnav li{
        border-left: 5px solid rgba(255, 199, 199,0);
    }
    .staticnav a{
        padding-left: 5px;
    }
    .navigator{
        margin-top: 10%;
    }

    .navbar{
        max-width: 1800px;
        margin: auto;
        z-index: 4;
        background-color: rgba(31,90,120,0.9);
    }
    @media only screen and (max-width: 1300px) {
        .navigator{
            display: none;
        }
    }

    .text-muted{
        color: white;
    }

    footer {
        margin-top: 50px;
        background-color: rgba(31,90,120,0.9);

    }

    /* //weather */

    #weatherWindow{
        display: none;
        z-index: -1;
    }
    .card {
        width: 100%;
        height: 75%;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 4px #ffe9e9;
        margin-top: 50px;
        margin-bottom: 50px
    }

    .time-font {
        font-size: 50px;
    }

    .sm-font {
        font-size: 18px
    }

    .med-font {
        font-size: 28px
    }

    .large-font {
        font-size: 60px
    }
    .register{
        margin-top: 130px;
        margin-left: 30px;
    }


    /* Homepage */
    @media only screen and (max-width: 700px) {
        .row >.inlineForms{
            display: inline !important;
        }
    }

    .profilInput {
        display: none;
    }

</style>

</html>
