<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/commons::head"></head>

<body class="mainb">
<div class="wrapper">
    <header th:replace="fragments/commons::header"></header>
    <main class="row">
        <div>
            <img src="https://st4.depositphotos.com/24595320/25653/v/950/depositphotos_256538770-stock-illustration-cute-shiba-inu-dog-seamless.jpg" class="backImage"/>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ul class="list-group ms-3 me-3 list-group-flush">
                <li class="list-group-item justify-content-between align-items-start border-top border-danger shadow p-3 mb-5 bg-body rounded" th:each="store : ${storeViewModel}" th:object="${store}">
                 <p th:text="${store.getName()}"></p>
                <div class="row">
                    <div class="col">
                        <iframe th:src="${store.getLocationPath()}" width="300" height="150"  allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col">
                        <p><strong>Working Time:</strong></p>
                        <p th:text="|Open at: ${store.getStartHour()}|"></p>
                        <p th:text="|Close at: ${store.getEndHour()}|"></p>
                    </div>
                    <div class="col">
                        <p><strong>Store Description:</strong></p>
                        <p th:text="${store.getDescription()}"></p>
                    </div>
                </div>
                </li>
            </ul>
        </div>

    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</div>
</body>

<script>
    window.onload = function () {
        checkAcceptLocation()
        getCoordintes();
        weatheInfo();
        window.setInterval(function () { weatheInfo() }, 1000);

        checkColorCookie();

    }
    //colorCookie
    function checkColorCookie(){
        let cuttedCookie=document.cookie.substring(6,document.cookie.length);

        if(cuttedCookie==="lightblue"){
            changeColorToLigthBlue()
        }else if(cuttedCookie==="lightgreen"){
            changeColorToLigthGreen()
        }else if(cuttedCookie==="red"){
            changeColorToRed()
        }else {
            changeColorDefault()
        }
    }
    // weather button

    function showWeather() {
        document.getElementById('weatherWindow').style.display = 'block';
    };
    function hideWeather() {
        document.getElementById('weatherWindow').style.display = 'none';
    };
    //date
    function weatheInfo() {
        var todayt = new Date();
        var seconds = todayt.getSeconds();
        var minutes = todayt.getMinutes();
        var hours = todayt.getHours();
        if (seconds < 10) {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':0' + seconds;
            if (minutes < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else if (minutes < 10) {
            document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':' + seconds;
            if (seconds < 10) {
                document.getElementById('currentTime').innerText = hours + ':0' + minutes + ':0' + seconds;
                if (hours < 10) {
                    document.getElementById('currentTime').innerText = '0' + hours + ':0' + minutes + ':' + seconds;
                }
            }
        } else {
            document.getElementById('currentTime').innerText = hours + ':' + minutes + ':' + seconds;
        }
    };
    //city
    // Step 1: Get user coordinates
    function getCoordintes() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var lat = crd.latitude.toString();
            var lng = crd.longitude.toString();
            var coordinates = [lat, lng];
            getCity(coordinates);
            return;

        }

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    // Step 2: Get city name
    function getCity(coordinates) {
        var xhr = new XMLHttpRequest();
        var lat = coordinates[0];
        var lng = coordinates[1];
        checkAcceptLocation(lat, lng);
        const api = "42f8451fedbcbef6488a995e06463d3b"
        xhr.open('GET', `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${api}`);
        xhr.send();
        xhr.onreadystatechange = processRequest;
        xhr.addEventListener("readystatechange", processRequest, false);

        function processRequest(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var city = response.name;
                var country = response.sys.country;
                var currentTemp = response.main.temp;

                document.getElementById('currentCity').innerText = city + ', ' + country;
                document.getElementById('currentTemp').innerText = Math.round(currentTemp - 273.15, 2) + '°C';
               return;
            }
        }
    }

    function checkAcceptLocation(lat, lng) {
        if (lat != undefined && lng != undefined) {

            document.getElementById('weatherLi').style.display = "block";
            document.getElementById('weatherWindow').style.display = 'block';

        } else {

            document.getElementById('weatherLi').style.display = "none";
            document.getElementById('weatherWindow').style.display = 'none';
        }
    }


</script>
<script>
    function makeChanges() {
        var inputsUpdate = document.getElementsByClassName('profilInput');
        var inputsInfo = document.getElementsByClassName('profileInfo');
        for (let i = 0; i < inputsUpdate.length; i++) {
            var currInfo = inputsInfo[i].textContent;
            if (i == 3) {
                inputsUpdate[i].setAttribute('value', Number.parseInt(currInfo));
                inputsUpdate[i].style.display = 'block';
            } else {
                inputsUpdate[i].setAttribute('value', currInfo);
                inputsUpdate[i].style.display = 'block';
            }
        }
        for (let i = 0; i < inputsInfo.length; i++) {
            inputsInfo[i].style.display = 'none';
        }
    }
    // clear the form for upload
    function clearTheForm(){
        var inputInfoAnimalClear=document.getElementById('inputInfoAnimal');
        var elements=inputInfoAnimalClear.getElementsByTagName('input')
        for(let i=0;i < elements.length; i++){
            elements[i].value='';

        }

    }

    //changing theme color
    var themeF=['bg-secondary','btn-danger','btn-secondary','btn-secondary'];
    var themeS=['bg-primary','btn-warning','btn-primary','btn-primary'];
    var themeT=['bg-success','btn-danger','btn-success','btn-success'];
    var themeD=['bg-danger','btn-success','btn-danger','btn-danger'];
    var navigationBar=document.getElementsByTagName('nav')[0];
    var logoutB=navigationBar.getElementsByTagName('button')[1];
    var elements=[navigationBar,logoutB];


    function changeColorToLigthBlue(){

        document.cookie = "color=lightblue";

        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeF[index],themeS[index]);
            }
        }
        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeT[index],themeS[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeD[index],themeS[index]);
            }
        }
    }

    function changeColorToLigthGreen(){
        document.cookie = "color=lightgreen";

        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeF[index],themeT[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeS[index],themeT[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeD[index],themeT[index]);
            }
        }
    }

    function changeColorDefault(){
        document.cookie = "color=default";

        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeT[index],themeF[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeS[index],themeF[index]);
            }
        }
        if(navigationBar.classList.contains('bg-danger')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeD[index],themeF[index]);
            }
        }
    }
    function changeColorToRed(){
        document.cookie = "color=red";

        if(navigationBar.classList.contains('bg-success')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeT[index],themeD[index]);
            }
        }
        if(navigationBar.classList.contains('bg-primary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeS[index],themeD[index]);
            }
        }
        if(navigationBar.classList.contains('bg-secondary')){
            for (let index = 0; index < elements.length; index++) {

                elements[index].classList.replace(themeF[index],themeD[index]);
            }
        }
    }
    //tooltip
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<style>
    .mainb {
        max-width: 1800px;
        margin: auto;
    }

    .backImage{
        max-width: 1800px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -2;
        position: fixed;
    }

    .animalsGroup h1 {
        margin-top: 3%;
        padding-top: 4%;

    }

    .navbar {
        z-index: 1;
    }

    .staticnav li {
        border-left: 5px solid rgba(255, 199, 199, 0);
    }

    .staticnav a {
        padding-left: 5px;
    }


    .navbar {
        max-width: 1800px;
        margin: auto;
    }

    @media only screen and (max-width: 400px) {
        #addAnimalForm{
            display: inline;
        }
        #inputInfoAnimal{
            width: 100%;
        }

    }

    .text-muted {
        color: white;
    }


    .profilInput {
        display: none;
    }

    .form-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 10px;
        height: 40px;
        line-height: 1.42857;
        padding: 6px 20px;
        width: 100%;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


</html>



